
.vs/JnB/v17/.suo
bin/
obj/
*.user
Solution/.vs/
Solution/.cr/

Solution/JnB/.vs/JnB/FileContentIndex/0f1e0879-2bba-4fd4-826a-5f4341bdc378.vsidx
Solution/JnB/.vs/JnB/FileContentIndex/2b9f3d9a-01ca-4bce-9621-092e7c2b7f4e.vsidx
Solution/JnB/.vs/JnB/FileContentIndex/4d9efad9-e6c9-4ab9-ae8c-2290271a51e6.vsidx
Solution/JnB/.vs/JnB/FileContentIndex/759c64d9-c5c3-47bd-981a-47155fe6c091.vsidx
Solution/JnB/.vs/JnB/FileContentIndex/9d08e1d8-d0a8-4e98-9538-f3964be238e1.vsidx
Solution/JnB/.vs/JnB/FileContentIndex/da9431ea-3c01-4728-a2cd-f4238ba0bdd3.vsidx
Solution/JnB/.vs/JnB/v17/.suo
Solution/JnB/ConsoleTests/appsettings.Development.json
